.view-header {
  font-size: 32px;
  color: white;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 30px;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 28px;
  height: 28px;
  left: 28px;
  top: 28px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #FFFFFF;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  display: none;
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #FFFFFF;
}

/* General sidebar styles */
.bm-menu {
  background-image: image-url('sidebar_background.jpg');
  background-size: cover;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
